#=== target directory ===
target/

#=== eclipse ===
.settings/
.project
.classpath

#=== netbeans ===
#netbeans
#nb*.xml

#=== idea ===
.idea/
*.iml

#===  package ===
*.jar
*.war
*.ear

#=== archive ===
*.zip
*.gz
*.bz2
*.7z

#=== classes  ===
*.class

#=== temporary directory ===
tmp/

#=== out log directory and file ===
out/
*.log

#=== other ===
other/
